@font-face {font-family: "FuturisLightC";src: local('☺'),             /* IE trick */url('../images/FUTURILC.TTF') format('truetype'), /* Opera, Safari */url('../images/FUTURILC.svg#font') format('svg'); /* iOS */}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 34px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: "FuturisLightC", Helvetica, Geneva, sans-serif;
}

button {
    border-radius: 50%;
    border: none;
    flex: 1 1 70px;
    height: 70px;
    cursor: pointer;
}

.display {
    height: 100px;
    flex: 1 1 350px;
    color: white;
    text-align: right;
    font-size: 80px;
    display: flex;
    flex-direction: column-reverse;
}

.nolik {
    flex-grow: 10;
    border-radius: 60px;
}

.clear, .znak, .procent {
    background-color: rgb(136, 136, 136);
    color: black;
}

.yellow, .result {
    background-color: orange;
    color: white;
    transition: all 0.3s;
}

.yellow:focus{
    background-color: white;
    color: black;
}

.operand, .tochka {
    background-color: rgb(83, 83, 83);
    color: white;
}


#container {
    padding: 5px;
    border-radius: 15px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 350px;
    gap: 7px;
    padding: 10px;
}

button:active {
    background-color: rgb(188, 188, 188);
}